.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
    flex-direction: column;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4d03f;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #000;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    height: 50px;
    flex-shrink: 0;
}

.content {
    display: flex;
    flex: 1; 
    height: calc(100vh - 50px); 
}

.sidebar {
    width: 20%;
    background-color: #fff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    flex-shrink: 0; 
    position: sticky; 
    height: 100%;
}


.plan-list {
    padding: 10px;
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px
}

.plan-item {
    padding: 10px 15px;
    margin: 5px 0;
    cursor: pointer;
    background-color: #f4f4f4;
    border-radius: 5px;
    font-weight: bold;
    color: #333;
    text-align: center;
    transition: background-color 0.3s;
}

.plan-button.selected {
    background-color: #003057;
    color: #fff;
    font-weight: bold;
    transform: scale(1.05);
}

.calendar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 0, 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  height: 100%;
  flex: 1; 
  overflow-y: auto; 
  flex-direction: column;
}

.rbc-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.rbc-toolbar button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s;
}

.rbc-toolbar button:hover {
  background-color: #0056b3;
}

.rbc-time-view {
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: row;
}

.rbc-time-content {
  flex: 1;
  border-right: 1px solid #ddd;
}

.rbc-time-content > div {
  border-bottom: 1px solid #ddd;
}

.rbc-day-slot {
  flex: 1;
  border-right: 1px solid #ddd;
}

.rbc-day-slot:last-child {
  border-right: none;
}

.rbc-event {
  background-color: #28a745;
  border: none;
  color: white;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}

.rbc-event:hover {
  background-color: #218838;
}

.rbc-timeslot-group {
  border-top: none;
  display: flex;
  flex-direction: column;
  width: 60px;
  text-align: right;
  padding-right: 10px;
}

.rbc-timeslot-group > div {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 0.9rem;
  color: #666;
}

.rbc-day-bg {
  background-color: #fafafa;
}

.rbc-day-bg:nth-child(odd) {
  background-color: #f4f4f4;
}

.rbc-today {
  background-color: #eaf8ff !important;
}

/*button for the plan */
.plan-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d9d9d9;
    color: #000;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 10px 0;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.plan-button:hover {
    background-color: #d9d9d9;
    transform: translateY(-2px);
}
  
.plan-button:active {
    background-color: #003057;
    transform: translateY(1px);
}
  
/* Add Icon to Button */
  .plan-button i {
    margin-right: 8px;
    font-size: 1.2rem; /* Adjust icon size */
}
  
.add-plan-button {
    background-color: #d9d9d9; /* Blue background for Add New Plan */
    color: #000; /* White text */
}
  
.add-plan-button:hover {
    background-color: #d9d9d9;
    transform: scale(1.1);
}
  
.add-plan-button:active {
    background-color: #003057;
    transform: scale(0.95);
}

.sem-select-page {
  display: flex;
  flex-direction: column;
  height: 90vh;
}

.sem-select-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  background-color: #ffffff;
  padding: 20px;
}

.sem-select-content h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.sem-select-content select {
  font-size: 16px;
  padding: 10px;
  margin-bottom: 20px;
  width: 200px;
}

.sem-select-content button {
  font-size: 16px;
  padding: 10px 20px;
  background-color: #333333;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.sem-select-content button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
